* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;    
    font-family: "Montserrat", sans-serif;
    color: #2a2a2a;
}

body {
    height: 100vh;  
    width: 100%;  
    display: flex;        
    justify-content: center;    
    align-items: flex-start;
    background-color: ghostwhite;
}

body > main {         
    display: flex;
    flex-direction: column;
    /* align-items: center;   */      
    gap: 1em;
}

main > h1 {
    font-size: 3em;        
}

main > div {
    margin-top: 2em;
    margin-bottom: 0.5em;
    display: flex;
    gap: 2.5em;
}

body > main > div > #image-container {    
    border: 0.4em solid #2a2a2a;
    width: 55%;
    aspect-ratio: 1/1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    position: relative;
    cursor: pointer;
    border-radius: 0.5em;
}

div > #image-container.large {
    width: 100%;
    height: 100%;
}

#image-container > #image-overlay {
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;      
    background-repeat: no-repeat; 
    background-size: 100% 100%;        
}

#image-container > #file-input {
    background: none;
    border: none;
    font-size: 1.25em;
}

#image-container > #file-input:hover {
    color: rgb(85, 85, 85);
    cursor: pointer;
}

#image-container > .below-stack {
    z-index: -100;
}

#image-container > #browse-btn {
    display: none;
}

div > #recents-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

div > #recents-container.hidden {
    display: none;
}

#recents-container > #recents-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#recents-container > #recents-list > article {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

#recents-list > article > div {
    width: 1.25em;
    height: 1.25em;
    border: solid 1.5px #2a2a2a;
    border-radius: 50%;
}

#button-colour-section > #select-image {
    display: none;
    height: 2em;        
}

#button-colour-section > #select-image:hover {
    color: rgb(85, 85, 85);
}

main > #button-colour-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    height: 5em;    
}

main > #button-colour-section > #select-image.display-button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 1.25em;
}

main > #button-colour-section > #focus-container {
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 0.75em;
}

#focus-container > #focus-colour {
    width: 2em;
    height: 2em;
    border: solid 2px #2a2a2a;
    border-radius: 50%;
    display: none;
}

#focus-container > #focus-colour.display {
    display: block;
}

@media only screen and (max-device-width: 610px) {
    main > h1 {
        text-align: center;                
        font-size: 2em;          
        width: 100%;            
        height: fit-content;   
        margin-top: 1em;     
    }

    main > div {
        flex-direction: column;
        width: 100%;
        margin-top: 0.5em;
        gap: 1em;
    }    

    div > #image-container {
        align-self: center;        
    }

    div > #image-container.large {        
        width: 70%;        
        aspect-ratio: 1 / 1;
    }

    div > #recents-container {
        margin: 0.7em;        
    }

    #recents-container > #recents-list {
        display: grid;        
        grid-template-columns: repeat(auto-fill, 7em);        
    }    
}

/* initial large image container too large */