* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

body > main > #image-container {
    border: 2px solid black;
    width: 40em;
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    position: relative;
}

#image-container > #image-overlay {
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;   
    /* background-image: url(https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/399.png);     */
}

#image-container > .below-stack {
    z-index: -100;
}

